
<div class="ui segment text-center" th:fragment="header">
	<!-- Hell -->
	<div class="ui secondary  menu">
		<a class="item" th:href="@{/add}" th:text="#{newArticle}"> Add New
			Articles </a> <a class="item" th:href="@{/category}"
			th:text="#{newCategory}"> Add New Articles </a> <a class="item"
			th:href="@{/findAll}" th:text="#{viewArticle}"> View Articles </a> <a
			class="item" th:href="@{/allcategory}" th:text="#{viewCategory}">
			View Articles </a>
		<div class="right menu">
			<a href="?lang=kh" th:text="#{khmer}" class="ui item">
				Khmer </a> <a href="?lang=en" th:text="#{english}" class="ui item">English</a>
		</div>
	</div>
	<!-- End -->
</div>
