<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" th:href="/css/semantic.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	
		<div class="container">
			<!-- Banner Navbar -->
			<div th:replace="fragment/header::header"></div>
			<div layout:fragment="content_layout"></div>
		</div>
		
</body>

</html>