html, body{
	font-family:Khmer OS;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.container{
    width: 80%;
    margin: auto;
}
.text-center{
    text-align: center;
}