<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" href="/css/semantic.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="container">
		<div th:replace="fragment/header::header"></div>
		<div class="ui raised very padded text container segment"
			th:object="${cat}">
			<h2 class="ui header ui"
				th:text="#{newCategory}">New
				Category</h2>
			<form class="ui form" action="/add/submit/category" method="POST">
				<div class="field">
					<label th:text="#{category}">Category Name:</label> 
					
					<input
						type="hidden" th:field="*{id}"> <input th:field="*{name}"
						type="text" th:placeholder="#{category}"> <span
							th:if="${error}"
							style="color: red;" th:text="#{require}">*require..</span>
				</div>
				<br>
				<button class="ui button" type="submit" th:text="#{submit}">Submit</button>
			</form>
		</div>
	</div>



</body>

</html>