<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>category</title>
<link rel="stylesheet" href="/css/semantic.min.css">
<link rel="stylesheet" href="/css/style.css">
<style>
table {
	border-collapse: collapse;
	width: 100%;
	background: white;
}
</style>
</head>

<body>
	<div class="container">
		<!-- Banner Navbar -->
		<div th:replace="fragment/header::header"></div>
		<table>
			<tr>
				<th th:text="#{id}">No</th>
				<th th:text="#{category}">Title</th>			
				<th th:text="#{action}">Action</th>
			</tr>
			<tr th:each="a:${cat}">
				<td th:text="${a.id}">Peter</td>
				<td th:text="${a.name}">Griffin</td>
				
				<td>
						<a th:href="@{/delete/category/{id}(id=${a.id})}"><i class="trash icon"></i> </a> 
						<a th:href="@{/update/category/{id}(id=${a.id})}"><i class="write icon"></i> </a> 
						<a th:href="@{/category}"><i class="add icon"></i></a></td>
			</tr>
			

		</table>
	</div>



</body>

</html>