<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" href="/css/semantic.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div class="container">
		<div th:replace="fragment/header::header"></div>

		<div class="container">
			<div class="ui raised very padded text container segment">

				<h2 class="ui header ui" th:text="#{newArticle}">New Articles</h2>
				<form action="/add/submit" method="Post"
					enctype="multipart/form-data" class="ui form">
					<div class="field">
						<label th:text="#{article}">Article Name:</label> <input
							th:field="${article.title}" type="text" th:placeholder="#{title}"><span
							th:if="${#fields.hasErrors('${article.title}')}"
							style="color: red;" th:text="#{require}">*require..</span>
					</div>
					<div class="field">
						<label th:text="#{author}">Authors Name:</label> <input
							th:field="${article.author}" type="text"
							th:placeholder="#{author}"><span
							th:if="${#fields.hasErrors('${article.author}')}"
							style="color: red;" th:text="#{require}">*require..</span>
					</div>
					<div class="field">
						<label th:text="#{des}">Description</label>
						<textarea th:field="${article.des}" th:placeholder="#{author}"
							rows="2"></textarea>
						<span th:if="${#fields.hasErrors('${article.des}')}"
							style="color: red;" th:text="#{require}">*require..</span>
					</div>

					<!-- 
            <div class="field">
                    <label>Category:</label>
                    <input th:field="${article.category}" type="text" placeholder="category">
                </div> -->
					<label th:text="#{category}">Category:</label> <select id="gender"
						th:field="${article.category.id}">
						<option th:each="c:${allCategory}" th:value="${c.id}"
							th:text="${c.name}" />Male
						<!-- <option th:value="#{value.category.two}"
						th:text="#{value.category.two}" />Female
					<option th:value="#{value.category.three}"
						th:text="#{value.category.three}" />Others -->
					</select> <br /> <label th:text="#{chooseFile}"> choose profile</label> <input
						type="hidden" th:field="${article.image}"> <input
						type="file" name="img" class="form-control-file"
						multiple="multiple" accept="/image/**"> <br /> <br />
					<button class="ui button" type="submit" th:text="#{submit}">Submit</button>
					&nbsp;&nbsp; <a href="/" th:text="#{back}"></a>
				</form>
			</div>
		</div>
	</div>




</body>

</html>