<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/semantic.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">

<style>
table {
	border-collapse: collapse;
	width: 100%;
	background: white;
}
</style>
</head>

<body>
	<div class="container">
	<div th:replace="fragment/header::header"></div>
		<table>
			<tr>
				<th th:text="#{id}">No</th>
				<th th:text="#{title}">Title</th>
				<th th:text="#{author}">Author</th>
				<th th:text="#{category}">Category</th>
				<th th:text="#{createDate}">Date</th>
				<th th:text="#{profile}">Profile</th>
				<th th:text="#{action}">Action</th>
			</tr>
			<tr th:each="a:${article}">
				<td th:text="${a.id}">Peter</td>
				<td th:text="${a.title}">Griffin</td>
				<td th:text="${a.author}">$100</td>
				<td th:text="${a.category.name}">Peter</td>
				<td th:text="${a.createDate}">Griffin</td>
				<td><img th:src="${a.image}" style="width: 90px; height: 70px"></td>
				<td><a th:href="@{view/{id}(id=${a.id})}"><i
						class="list icon"></i> </a> <a th:href="@{delete/{id}(id=${a.id})}"><i
						class="trash icon"></i> </a> <a th:href="@{/update/{id}(id=${a.id})}"><i
						class="write icon"></i> </a> <a th:href="add"><i class="add icon"></i>
				</a></td>
			</tr>
			

		</table>
	</div>



</body>

</html>