<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" href="/css/semantic.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div class="container">
		<!-- <p th:inline="text">[[${article.title}]]</p> -->
		<div th:replace="fragment/header::header"></div>
		<div class="ui raised very padded text container segment">

			<h2 class="ui header ui" th:text="#{newArticle}">Update Articles</h2>
			<form class="ui form" action="/update/submit"
				enctype="multipart/form-data" method="POST">
				<input type="hidden" th:field="${article.id}"> <input
					type="hidden" th:field="${article.createDate}">

				<div class="field">
					<label th:texrt="#{article}">Article Name:</label> <input
						th:field="${article.title}" type="text" th:placeholder="#{title}">
					<span th:if="${#fields.hasErrors('${article.title}')}"
						style="color: red;" th:text="#{require}">*require..</span>
				</div>
				<div class="field">
					<label th:text="#{author}">Authors Name:</label> <input
						th:field="${article.author}" type="text"
						th:placeholder="#{author}"> <span
						th:if="${#fields.hasErrors('${article.author}')}"
						style="color: red;" th:text="#{require}">*require..</span>
				</div>
				<div class="field">
					<label th:text="#{des}">Description</label>
					<textarea th:field="${article.des}" th:placeholder="#{des}"
						rows="2"></textarea>
					<span th:if="${#fields.hasErrors('${article.des}')}"
						style="color: red;" th:text="#{require}">*require..</span>
				</div>

				<!--  <div class="field">
                    <label>Category:</label>
                    <input type="text" th:field="${article.category}" placeholder="category">
                </div> -->

				<label th:text="#{category}">category</label> <label
					th:text="#{category}">Category:</label> <select id="gender"
					th:field="${article.category.id}">
					<option th:each="c:${allCategory}" th:value="${c.id}"
						th:text="${c.name}" />Male
					<!-- <option th:value="#{value.category.two}"
						th:text="#{value.category.two}" />Female
					<option th:value="#{value.category.three}"
						th:text="#{value.category.three}" />Others -->
				</select> <br /> <input type="hidden" th:field="${article.image}"> <img
					th:src="${article.image}" style="width: 90px;" /><br> <label
					th:text="#{chooseFile}">dfds</label> <input name="img" type="file"
					class="form-control-file"> <br> <br>
				<button class="ui button" type="submit" th:text="#{submit}">Submit</button>
				<a href="/" th:text="#{back}"></a>
			</form>
		</div>
	</div>



</body>

</html>