<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/semantic.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">

<style>
table {
	border-collapse: collapse;
	width: 100%;
	background: white;
}
</style>
</head>

<body>

	<div class="container">
	
	<div th:replace="fragment/header::header"></div>
	
		<h2 class="ui center aligned icon header">
			<i class="circular"><img th:src="${article.image}"
				style="width: 250px;"></i>

		</h2>
		<center style="font-size: 18px;">
			<hr style="width: 40%; margin: auto;" size="1">
			<p>
				<span th:text="#{id}"></span> : <span th:text="${article.id}"></span><br>
			</p>
			<hr style="width: 40%; margin: auto;" size="1">
			<p>
				<span th:text="#{title}"></span> : <span th:text="${article.title}"></span><br>
			</p>
			<hr style="width: 40%; margin: auto;" size="1">
			<p>
				<span th:text="#{author}"></span> : <span
					th:text="${article.author}"></span><br>
			</p>
			<hr style="width: 40%; margin: auto;" size="1">
			<p>
				<span th:text="#{category}"></span> : <span
					th:text="${article.category.name}"></span><br>
			</p>
			<hr style="width: 40%; margin: auto;" size="1">
			<p>
				<span th:text="#{createDate}"></span> : <span
					th:text="${article.createDate}"></span><br>
			</p>
			<hr style="width: 40%; margin: auto;" size="1">
			<p>
				<span th:text="#{des}"></span> : <span th:text="${article.des}"></span>
			</p>
			<hr style="width: 40%; margin: auto;" size="1">
			<br> <a th:href="@{/findAll}"><input type="submit"
				class="ui button primary" th:value="#{back}"></a>
		</center>
	</div>

</body>
</html>